<p *ngFor="let log of (loggerColState  | async).loggerCol">
  dashboard works! {{log.lineId}} - {{log.lineText}}
</p>


<div class="row">
  <button class="btn btn-primary" (click)="addNewLog()">Add New log</button>
</div>
<hr>
<div class="row">
  <button class="btn " (click)="addManyNewLog()">Add many New log</button>
</div>

<hr>
<div class="row">
  <button class="btn " (click)="updateLog(1)">update log</button>
</div>


<hr>
<div class="row">
  <button class="btn " (click)="deleteLog(0)">Delete log</button>
</div>